h1{
    background-color: #c74044;
    color: #feff03 ;
    text-transform: uppercase;
    text-align: center;
}
nav {
    background: white;
    text-align: center;
    }
nav a {
    text-decoration: none;
    display: block;
    transition: .5s linear;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu > li {
    display: inline-block;
    position: relative;
    width: 200px;
}
.topmenu > li > a {
    font-weight: bold;
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #c74044;
    color: #feff03 ;
    
}
.submenu {
    position: absolute;
    left: 0;
    z-index: 5;
    width: 200px;
    visibility: hidden;
    opacity: 0;

}
.submenu li {
    position: relative;
    margin:2px;
}
.submenu a {
    background: #feff03;
    color: #c74044;
    border: 1px solid #c74044;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 30px;
}
.submenu a:hover {
    background:#c74044;
    color: #feff03;
}

.submenu .submenu {
    position: absolute;
    top: 0;
    left: 200px;
}
nav li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    background: #c74044 ;
    color: #feff03;
}
